In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import requests
import os
import time

In [3]:
#Input_folder_T2M = r"C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Wind\T2M"

In [5]:
file_path = r"C:\Users\nwn86\ResearchProject_singlensp\Input"

In [7]:
file_name = "nsp_info_final_v1.csv"

In [9]:
output_file = os.path.join(file_path, file_name)

In [11]:
nsp_info = pd.read_csv(output_file)

In [13]:
nsp_info

,POC_Code,NZTM_easting,NZTM_northing,Network,Island,Fuel_Code,Latitude,Longitude
0,ARA2201,1873657.0,5721160.0,Taupo (Unison Networks),NI,Hydro,-38.615891,176.143036
1,ARG1101,1616836.0,5386748.0,Marlborough (Marlborough Lines),SI,Hydro,-41.670851,173.202251
2,ARI1101,1831834.0,5782895.0,Thames Valley (Powerco),NI,Hydro,-38.072026,175.642919
3,ARI1102,1831834.0,5782895.0,Thames Valley (Powerco),NI,Hydro,-38.072026,175.642919
4,ASB0661,1503869.0,5133912.0,Ashburton (Electricity Ashburton),SI,Hydro,-43.941637,171.802149
5,ATI2201,1863994.0,5746271.0,King Country (The Lines Company),NI,Hydro,-38.392831,176.022730
6,AVI2201,1390245.0,5051586.0,Waitaki (Network Waitaki),SI,Hydro,-44.658443,170.354335
7,BEN2202,1377144.0,5061473.0,Waitaki (Network Waitaki),SI,Hydro,-44.565596,170.193571
8,BPE0331,1824481.0,5537751.0,Manawatu (Powerco),NI,Wind,-40.280614,175.640510
9,BWK1101,1375377.0,4908483.0,Dunedin (Aurora Energy),SI,Hydro,-45.940470,170.102172
10,COL0661,1480658.0,5197735.0,Central Canterbury (Orion New Zealand),SI,Hydro,-43.363766,171.527122
11,CYD0331,1309790.0,4990370.0,Central Otago (Aurora Energy),SI,Hydro,-45.180391,169.306224
12,CYD2201,1309790.0,4990370.0,Central Otago (Aurora Energy),SI,Hydro,-45.180391,169.306224
13,EDG0331,1936285.0,5788677.0,Eastern Bay of Plenty (Horizon Energy),NI,Solar,-37.987259,176.828883
14,GOR0331,1284097.0,4885035.0,Southland (The Power Company),SI,Wind,-46.115091,168.911652
15,HWA1101,1712537.0,5619536.0,Taranaki (Powerco),NI,Hydro,-39.566497,174.310117
16,HWB0331,1404029.0,4918978.0,Dunedin (Aurora Energy),SI,Hydro,-45.854874,170.475700
17,HWB0331,1404029.0,4918978.0,Otago (OtagoNet JV),SI,Hydro,-45.854874,170.475700
18,KOE1101,1673614.0,6082721.0,Bay of Islands (Top Energy),NI,Solar,-35.396162,173.810632
19,KPO1101,1823029.0,5799542.0,Thames Valley (Powerco),NI,Hydro,-37.924349,175.537461
20,LTN0331,1823277.0,5523360.0,Manawatu (Powerco),NI,Wind,-40.410452,175.631394
21,LTN2201,1823277.0,5523360.0,Manawatu (Powerco),NI,Wind,-40.410452,175.631394
22,MAN2201,1153098.0,4943235.0,Southland (The Power Company),SI,Hydro,-45.520868,167.277500
23,MAT1101,1934456.0,5774722.0,Eastern Bay of Plenty (Horizon Energy),NI,Hydro,-38.113429,176.814617
24,MHO0331,1807281.0,5505363.0,Kapiti and Horowhenua (Electra),NI,Hydro,-40.576575,175.448930
25,MTI2201,1839802.0,5751482.0,King Country (The Lines Company),NI,Hydro,-38.352736,175.744267
26,NMA0331,1242677.0,4861547.0,Southland (The Power Company),SI,Wind,-46.305391,168.359527
27,NSY0331,1371044.0,5009253.0,Otago (OtagoNet JV),SI,Hydro,-45.033180,170.093353
28,OHA2201,1362883.0,5094304.0,South Canterbury (Alpine Energy),SI,Hydro,-44.265872,170.029212
29,OHB2201,1369516.0,5090545.0,Waitaki (Network Waitaki),SI,Hydro,-44.301801,170.110551
30,OHC2201,1375175.0,5086098.0,Waitaki (Network Waitaki),SI,Hydro,-44.343561,170.179492
31,OHK2201,1869462.0,5744408.0,Rotorua (Unison Networks),NI,Hydro,-38.407966,176.085969
32,ROT1101,1882790.0,5772814.0,Rotorua (Unison Networks),NI,Hydro,-38.148250,176.227041
33,ROX1101,1312313.0,4957442.0,Central Otago (Aurora Energy),SI,Hydro,-45.477213,169.319136
34,ROX2201,1312313.0,4957442.0,Central Otago (Aurora Energy),SI,Hydro,-45.477213,169.319136
35,RPO2201,1845189.0,5662388.0,King Country (The Lines Company),NI,Hydro,-39.153194,175.837443
36,STK0661,1620344.0,5426252.0,Tasman (Network Tasman),SI,Hydro,-41.314941,173.243059
37,TGA0331,1875930.0,5819779.0,Tauranga (Powerco),NI,Hydro,-37.727716,176.130869
38,TKA0111,1396471.0,5123459.0,South Canterbury (Alpine Energy),SI,Hydro,-44.013807,170.460853
39,TKB2201,1376922.0,5110445.0,South Canterbury (Alpine Energy),SI,Hydro,-44.125161,170.211748
40,TKU2201,1839960.0,5681601.0,King Country (The Lines Company),NI,Hydro,-38.981721,175.770224
41,TUI1101,1960528.0,5696630.0,Eastland (Eastland Network),NI,Hydro,-38.805354,177.151399
42,TWC2201,1835550.0,5529228.0,Manawatu (Powerco),NI,Wind,-40.354267,175.773710
43,TWH0331,1789809.0,5821033.0,Waikato (WEL Networks),NI,Wind,-37.738327,175.154139
44,WDV1101,1842684.0,5533314.0,Southern Hawke's Bay (Scanpower),NI,Wind,-40.315457,175.856067
45,WIL0331,1747405.0,5431065.0,Wellington (Wellington Electricity),NI,Wind,-41.258396,174.759556
46,WKM2201,1844481.0,5743971.0,King Country (The Lines Company),NI,Hydro,-38.419082,175.800363
47,WPA2201,1834680.0,5758417.0,Waipa (Waipa Networks),NI,Hydro,-38.291661,175.683408
48,WPG0331,1404006.0,4918940.0,Dunedin (Aurora Energy),SI,Hydro,-45.855209,170.475388
49,WTK0111,1396285.0,5048037.0,Waitaki (Network Waitaki),SI,Hydro,-44.692099,170.429029
50,WVY1101,1740109.0,5598256.0,Wanganui (Powerco),NI,Wind,-39.754097,174.635503
51,WWD1102,1739027.0,5427096.0,Wellington (Wellington Electricity),NI,Wind,-41.295618,174.660496
52,WWD1103,1739027.0,5427096.0,Wellington (Wellington Electricity),NI,Wind,-41.295618,174.660496
53,HRP2201,NaN,NaN,Hawke's Bay (Unison Networks),NI,Wind,-39.604330,176.753550

In [16]:
nsp_info_Wind = nsp_info[nsp_info['Fuel_Code'].isin(['Wind'])]

In [18]:
nsp_info_Hydro = nsp_info[nsp_info['Fuel_Code'].isin(['Hydro'])]

In [20]:
nsp_info_Solar = nsp_info[nsp_info['Fuel_Code'].isin(['Solar'])]

In [22]:
Wind_counts = nsp_info_Wind['Fuel_Code'].value_counts()

In [24]:
Hydro_counts = nsp_info_Hydro['Fuel_Code'].value_counts()

In [26]:
Solar_counts = nsp_info_Solar['Fuel_Code'].value_counts()

In [28]:
Wind_counts

Fuel_Code
Wind    13
Name: count, dtype: int64

In [30]:
Hydro_counts

Fuel_Code
Hydro    39
Name: count, dtype: int64

In [32]:
Solar_counts

Fuel_Code
Solar    2
Name: count, dtype: int64

In [34]:
nsp_info_Wind

,POC_Code,NZTM_easting,NZTM_northing,Network,Island,Fuel_Code,Latitude,Longitude
8,BPE0331,1824481.0,5537751.0,Manawatu (Powerco),NI,Wind,-40.280614,175.640510
14,GOR0331,1284097.0,4885035.0,Southland (The Power Company),SI,Wind,-46.115091,168.911652
20,LTN0331,1823277.0,5523360.0,Manawatu (Powerco),NI,Wind,-40.410452,175.631394
21,LTN2201,1823277.0,5523360.0,Manawatu (Powerco),NI,Wind,-40.410452,175.631394
26,NMA0331,1242677.0,4861547.0,Southland (The Power Company),SI,Wind,-46.305391,168.359527
42,TWC2201,1835550.0,5529228.0,Manawatu (Powerco),NI,Wind,-40.354267,175.773710
43,TWH0331,1789809.0,5821033.0,Waikato (WEL Networks),NI,Wind,-37.738327,175.154139
44,WDV1101,1842684.0,5533314.0,Southern Hawke's Bay (Scanpower),NI,Wind,-40.315457,175.856067
45,WIL0331,1747405.0,5431065.0,Wellington (Wellington Electricity),NI,Wind,-41.258396,174.759556
50,WVY1101,1740109.0,5598256.0,Wanganui (Powerco),NI,Wind,-39.754097,174.635503
51,WWD1102,1739027.0,5427096.0,Wellington (Wellington Electricity),NI,Wind,-41.295618,174.660496
52,WWD1103,1739027.0,5427096.0,Wellington (Wellington Electricity),NI,Wind,-41.295618,174.660496
53,HRP2201,NaN,NaN,Hawke's Bay (Unison Networks),NI,Wind,-39.604330,176.753550

In [36]:
Input_folder_T2M = r"C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M"

In [38]:
# parameters = "T2M"

In [40]:
# Filename_T2M = f"{output_folder}/NASA_{poc}_{parameters}_{start_date}_{end_date}.csv"

In [42]:
# Filename_T2M = "NASA_BPE0331_T2M_20150101_20250228.csv"

In [44]:
#Read_file_T2M = os.path.join(Input_folder_T2M, Filename_T2M)

In [46]:
# Read_file_T2M

In [48]:
# nsp_info = pd.read_csv(Read_file_T2M)

In [50]:
# with open(Read_file_T2M, 'r') as f:
#     for i, line in enumerate(f):
#         if line.startswith('YEAR') or 'DATE' in line:
#             header_line = i
#             # break

In [52]:
# T2M_Data = pd.read_csv(Read_file_T2M, skiprows=header_line)

In [54]:
# T2M_Data

In [56]:
# Get list of POC codes to load
selected_pocs = nsp_info_Wind['POC_Code'].unique()

In [58]:
selected_pocs

array(['BPE0331', 'GOR0331', 'LTN0331', 'LTN2201', 'NMA0331', 'TWC2201',
       'TWH0331', 'WDV1101', 'WIL0331', 'WVY1101', 'WWD1102', 'WWD1103',
       'HRP2201'], dtype=object)

In [60]:
# Initialize empty list to store DataFrames
dfs = []

In [62]:
# Loop through each selected POC
for poc in selected_pocs:
    file_T2M = os.path.join(
        Input_folder_T2M, f"NASA_{poc}_T2M_20150101_20250228.csv"
    )
    
    # Check if file exists before loading
    if os.path.exists(file_T2M):
        # Skip metadata rows and load actual data
        print(f"Loading file: {file_T2M}")
        with open(file_T2M, 'r') as f:
            for i, line in enumerate(f):
                if line.startswith('YEAR') or 'DATE' in line:
                    header_line = i
                    break
        #df = pd.read_csv(file_path, skiprows=10)
        df_T2M = pd.read_csv(file_T2M, skiprows=header_line)
        
        # Add identifier column
        df_T2M['POC_Code'] = poc
        
        dfs.append(df_T2M)
    else:
        print(f"File not found: {file_path}")

# Combine all into a single DataFrame
combined_wind_data_T2M = pd.concat(dfs, ignore_index=True)

Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_BPE0331_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_GOR0331_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_LTN0331_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_LTN2201_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_NMA0331_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_TWC2201_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_TWH0331_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_WDV1101_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_WIL0331_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_WVY1101_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_WWD1102_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_WWD1103_T2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Wind\T2M\NASA_HRP2201_T2M_20150101_20250228.csv

In [64]:
combined_wind_data_T2M

       YEAR  DOY    T2M POC_Code
0      2015    1  16.13  BPE0331
1      2015    2  15.73  BPE0331
2      2015    3  16.70  BPE0331
3      2015    4  17.84  BPE0331
4      2015    5  17.75  BPE0331
...     ...  ...    ...      ...
48251  2025   55  18.79  HRP2201
48252  2025   56  21.36  HRP2201
48253  2025   57  18.63  HRP2201
48254  2025   58  17.64  HRP2201
48255  2025   59  17.51  HRP2201

[48256 rows x 4 columns]

In [66]:
# Create a new date column
combined_wind_data_T2M['DATE'] = pd.to_datetime(
    combined_wind_data_T2M['YEAR'].astype(str) + combined_wind_data_T2M['DOY'].astype(str),
    format='%Y%j'
)

In [68]:
# Optional: Set DATE as index or reorder columns
# combined_wind_data.set_index('DATE', inplace=True)

# Preview the updated DataFrame
print(combined_wind_data_T2M[['DATE', 'YEAR', 'DOY', 'T2M', 'POC_Code']].head())

        DATE  YEAR  DOY    T2M POC_Code
0 2015-01-01  2015    1  16.13  BPE0331
1 2015-01-02  2015    2  15.73  BPE0331
2 2015-01-03  2015    3  16.70  BPE0331
3 2015-01-04  2015    4  17.84  BPE0331
4 2015-01-05  2015    5  17.75  BPE0331

In [70]:
combined_wind_data_T2M

       YEAR  DOY    T2M POC_Code       DATE
0      2015    1  16.13  BPE0331 2015-01-01
1      2015    2  15.73  BPE0331 2015-01-02
2      2015    3  16.70  BPE0331 2015-01-03
3      2015    4  17.84  BPE0331 2015-01-04
4      2015    5  17.75  BPE0331 2015-01-05
...     ...  ...    ...      ...        ...
48251  2025   55  18.79  HRP2201 2025-02-24
48252  2025   56  21.36  HRP2201 2025-02-25
48253  2025   57  18.63  HRP2201 2025-02-26
48254  2025   58  17.64  HRP2201 2025-02-27
48255  2025   59  17.51  HRP2201 2025-02-28

[48256 rows x 5 columns]

In [54]:
# # 2. Filter data between 2015-01-01 and 2024-12-31
# filtered_wind_data_T2M = combined_wind_data_T2M[
#     (combined_wind_data_T2M['DATE'] >= '2015-01-01') &
#     (combined_wind_data_T2M['DATE'] <= '2024-12-31')
# ]

In [56]:
# filtered_wind_data_T2M

       YEAR  DOY    T2M POC_Code       DATE
0      2015    1  16.13  BPE0331 2015-01-01
1      2015    2  15.73  BPE0331 2015-01-02
2      2015    3  16.70  BPE0331 2015-01-03
3      2015    4  17.84  BPE0331 2015-01-04
4      2015    5  17.75  BPE0331 2015-01-05
...     ...  ...    ...      ...        ...
48192  2024  362  16.05  HRP2201 2024-12-27
48193  2024  363  16.15  HRP2201 2024-12-28
48194  2024  364  18.40  HRP2201 2024-12-29
48195  2024  365  18.96  HRP2201 2024-12-30
48196  2024  366  15.94  HRP2201 2024-12-31

[47489 rows x 5 columns]

In [72]:
combined_wind_data_T2M = combined_wind_data_T2M[['DATE', 'POC_Code', 'T2M']]

In [74]:
combined_wind_data_T2M

            DATE POC_Code    T2M
0     2015-01-01  BPE0331  16.13
1     2015-01-02  BPE0331  15.73
2     2015-01-03  BPE0331  16.70
3     2015-01-04  BPE0331  17.84
4     2015-01-05  BPE0331  17.75
...          ...      ...    ...
48251 2025-02-24  HRP2201  18.79
48252 2025-02-25  HRP2201  21.36
48253 2025-02-26  HRP2201  18.63
48254 2025-02-27  HRP2201  17.64
48255 2025-02-28  HRP2201  17.51

[48256 rows x 3 columns]

In [62]:
# daily_avg_T2M = filtered_wind_data_T2M.groupby('DATE', as_index=False)['T2M'].mean()

In [64]:
# daily_avg_T2M = daily_avg_T2M.rename(columns={'T2M': 'Avg_T2M'})

In [66]:
# daily_avg_T2M

           DATE    Avg_T2M
0    2015-01-01  15.842308
1    2015-01-02  16.072308
2    2015-01-03  16.253077
3    2015-01-04  17.930769
4    2015-01-05  17.560000
...         ...        ...
3648 2024-12-27  15.053077
3649 2024-12-28  15.777692
3650 2024-12-29  17.051538
3651 2024-12-30  16.671538
3652 2024-12-31  14.593846

[3653 rows x 2 columns]

In [76]:

# Merge the DataFrames on the 'POC_Code' column.
daily_T2M = pd.merge(combined_wind_data_T2M, nsp_info[['POC_Code', 'Island', 'Fuel_Code', 'Latitude', 'Longitude']], on='POC_Code', how='left')

In [86]:
print(daily_T2M.dtypes)

DATE         datetime64[ns]
POC_Code             object
T2M                 float64
Island               object
Fuel_Code            object
Latitude            float64
Longitude           float64
dtype: object

In [88]:
daily_T2M['T2M'] = daily_T2M['T2M'].round(4)

In [90]:
daily_T2M.to_csv(r'C:\Users\nwn86\ResearchProject_singlensp\Input\Climate\Wind\Wind_Factor_ALL_NSP_Daily_T2M.csv', index=False)