In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import requests
import os
import time

In [2]:
#Input_folder_RH2M = r"C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\RH2M"

In [5]:
file_path = r"C:\Users\nwn86\ResearchProject_singlensp\Input"

In [7]:
file_name = "nsp_info_final_v1.csv"

In [9]:
output_file = os.path.join(file_path, file_name)

In [11]:
nsp_info = pd.read_csv(output_file)

In [13]:
nsp_info

,POC_Code,NZTM_easting,NZTM_northing,Network,Island,Fuel_Code,Latitude,Longitude
0,ARA2201,1873657.0,5721160.0,Taupo (Unison Networks),NI,Hydro,-38.615891,176.143036
1,ARG1101,1616836.0,5386748.0,Marlborough (Marlborough Lines),SI,Hydro,-41.670851,173.202251
2,ARI1101,1831834.0,5782895.0,Thames Valley (Powerco),NI,Hydro,-38.072026,175.642919
3,ARI1102,1831834.0,5782895.0,Thames Valley (Powerco),NI,Hydro,-38.072026,175.642919
4,ASB0661,1503869.0,5133912.0,Ashburton (Electricity Ashburton),SI,Hydro,-43.941637,171.802149
5,ATI2201,1863994.0,5746271.0,King Country (The Lines Company),NI,Hydro,-38.392831,176.022730
6,AVI2201,1390245.0,5051586.0,Waitaki (Network Waitaki),SI,Hydro,-44.658443,170.354335
7,BEN2202,1377144.0,5061473.0,Waitaki (Network Waitaki),SI,Hydro,-44.565596,170.193571
8,BPE0331,1824481.0,5537751.0,Manawatu (Powerco),NI,Wind,-40.280614,175.640510
9,BWK1101,1375377.0,4908483.0,Dunedin (Aurora Energy),SI,Hydro,-45.940470,170.102172
10,COL0661,1480658.0,5197735.0,Central Canterbury (Orion New Zealand),SI,Hydro,-43.363766,171.527122
11,CYD0331,1309790.0,4990370.0,Central Otago (Aurora Energy),SI,Hydro,-45.180391,169.306224
12,CYD2201,1309790.0,4990370.0,Central Otago (Aurora Energy),SI,Hydro,-45.180391,169.306224
13,EDG0331,1936285.0,5788677.0,Eastern Bay of Plenty (Horizon Energy),NI,Solar,-37.987259,176.828883
14,GOR0331,1284097.0,4885035.0,Southland (The Power Company),SI,Wind,-46.115091,168.911652
15,HWA1101,1712537.0,5619536.0,Taranaki (Powerco),NI,Hydro,-39.566497,174.310117
16,HWB0331,1404029.0,4918978.0,Dunedin (Aurora Energy),SI,Hydro,-45.854874,170.475700
17,HWB0331,1404029.0,4918978.0,Otago (OtagoNet JV),SI,Hydro,-45.854874,170.475700
18,KOE1101,1673614.0,6082721.0,Bay of Islands (Top Energy),NI,Solar,-35.396162,173.810632
19,KPO1101,1823029.0,5799542.0,Thames Valley (Powerco),NI,Hydro,-37.924349,175.537461
20,LTN0331,1823277.0,5523360.0,Manawatu (Powerco),NI,Wind,-40.410452,175.631394
21,LTN2201,1823277.0,5523360.0,Manawatu (Powerco),NI,Wind,-40.410452,175.631394
22,MAN2201,1153098.0,4943235.0,Southland (The Power Company),SI,Hydro,-45.520868,167.277500
23,MAT1101,1934456.0,5774722.0,Eastern Bay of Plenty (Horizon Energy),NI,Hydro,-38.113429,176.814617
24,MHO0331,1807281.0,5505363.0,Kapiti and Horowhenua (Electra),NI,Hydro,-40.576575,175.448930
25,MTI2201,1839802.0,5751482.0,King Country (The Lines Company),NI,Hydro,-38.352736,175.744267
26,NMA0331,1242677.0,4861547.0,Southland (The Power Company),SI,Wind,-46.305391,168.359527
27,NSY0331,1371044.0,5009253.0,Otago (OtagoNet JV),SI,Hydro,-45.033180,170.093353
28,OHA2201,1362883.0,5094304.0,South Canterbury (Alpine Energy),SI,Hydro,-44.265872,170.029212
29,OHB2201,1369516.0,5090545.0,Waitaki (Network Waitaki),SI,Hydro,-44.301801,170.110551
30,OHC2201,1375175.0,5086098.0,Waitaki (Network Waitaki),SI,Hydro,-44.343561,170.179492
31,OHK2201,1869462.0,5744408.0,Rotorua (Unison Networks),NI,Hydro,-38.407966,176.085969
32,ROT1101,1882790.0,5772814.0,Rotorua (Unison Networks),NI,Hydro,-38.148250,176.227041
33,ROX1101,1312313.0,4957442.0,Central Otago (Aurora Energy),SI,Hydro,-45.477213,169.319136
34,ROX2201,1312313.0,4957442.0,Central Otago (Aurora Energy),SI,Hydro,-45.477213,169.319136
35,RPO2201,1845189.0,5662388.0,King Country (The Lines Company),NI,Hydro,-39.153194,175.837443
36,STK0661,1620344.0,5426252.0,Tasman (Network Tasman),SI,Hydro,-41.314941,173.243059
37,TGA0331,1875930.0,5819779.0,Tauranga (Powerco),NI,Hydro,-37.727716,176.130869
38,TKA0111,1396471.0,5123459.0,South Canterbury (Alpine Energy),SI,Hydro,-44.013807,170.460853
39,TKB2201,1376922.0,5110445.0,South Canterbury (Alpine Energy),SI,Hydro,-44.125161,170.211748
40,TKU2201,1839960.0,5681601.0,King Country (The Lines Company),NI,Hydro,-38.981721,175.770224
41,TUI1101,1960528.0,5696630.0,Eastland (Eastland Network),NI,Hydro,-38.805354,177.151399
42,TWC2201,1835550.0,5529228.0,Manawatu (Powerco),NI,Wind,-40.354267,175.773710
43,TWH0331,1789809.0,5821033.0,Waikato (WEL Networks),NI,Wind,-37.738327,175.154139
44,WDV1101,1842684.0,5533314.0,Southern Hawke's Bay (Scanpower),NI,Wind,-40.315457,175.856067
45,WIL0331,1747405.0,5431065.0,Wellington (Wellington Electricity),NI,Wind,-41.258396,174.759556
46,WKM2201,1844481.0,5743971.0,King Country (The Lines Company),NI,Hydro,-38.419082,175.800363
47,WPA2201,1834680.0,5758417.0,Waipa (Waipa Networks),NI,Hydro,-38.291661,175.683408
48,WPG0331,1404006.0,4918940.0,Dunedin (Aurora Energy),SI,Hydro,-45.855209,170.475388
49,WTK0111,1396285.0,5048037.0,Waitaki (Network Waitaki),SI,Hydro,-44.692099,170.429029
50,WVY1101,1740109.0,5598256.0,Wanganui (Powerco),NI,Wind,-39.754097,174.635503
51,WWD1102,1739027.0,5427096.0,Wellington (Wellington Electricity),NI,Wind,-41.295618,174.660496
52,WWD1103,1739027.0,5427096.0,Wellington (Wellington Electricity),NI,Wind,-41.295618,174.660496
53,HRP2201,NaN,NaN,Hawke's Bay (Unison Networks),NI,Wind,-39.604330,176.753550

In [15]:
df_unique_nsp_info = nsp_info[['POC_Code', 'Fuel_Code', 'Island']].drop_duplicates()

In [17]:
df_unique_nsp_info

   POC_Code Fuel_Code Island
0   ARA2201     Hydro     NI
1   ARG1101     Hydro     SI
2   ARI1101     Hydro     NI
3   ARI1102     Hydro     NI
4   ASB0661     Hydro     SI
5   ATI2201     Hydro     NI
6   AVI2201     Hydro     SI
7   BEN2202     Hydro     SI
8   BPE0331      Wind     NI
9   BWK1101     Hydro     SI
10  COL0661     Hydro     SI
11  CYD0331     Hydro     SI
12  CYD2201     Hydro     SI
13  EDG0331     Solar     NI
14  GOR0331      Wind     SI
15  HWA1101     Hydro     NI
16  HWB0331     Hydro     SI
18  KOE1101     Solar     NI
19  KPO1101     Hydro     NI
20  LTN0331      Wind     NI
21  LTN2201      Wind     NI
22  MAN2201     Hydro     SI
23  MAT1101     Hydro     NI
24  MHO0331     Hydro     NI
25  MTI2201     Hydro     NI
26  NMA0331      Wind     SI
27  NSY0331     Hydro     SI
28  OHA2201     Hydro     SI
29  OHB2201     Hydro     SI
30  OHC2201     Hydro     SI
31  OHK2201     Hydro     NI
32  ROT1101     Hydro     NI
33  ROX1101     Hydro     SI
34  ROX2201     Hydro     SI
35  RPO2201     Hydro     NI
36  STK0661     Hydro     SI
37  TGA0331     Hydro     NI
38  TKA0111     Hydro     SI
39  TKB2201     Hydro     SI
40  TKU2201     Hydro     NI
41  TUI1101     Hydro     NI
42  TWC2201      Wind     NI
43  TWH0331      Wind     NI
44  WDV1101      Wind     NI
45  WIL0331      Wind     NI
46  WKM2201     Hydro     NI
47  WPA2201     Hydro     NI
48  WPG0331     Hydro     SI
49  WTK0111     Hydro     SI
50  WVY1101      Wind     NI
51  WWD1102      Wind     NI
52  WWD1103      Wind     NI
53  HRP2201      Wind     NI

In [19]:
poc_counts = df_unique_nsp_info.groupby(['Island', 'Fuel_Code'])['POC_Code'].nunique().reset_index()
poc_counts.rename(columns={'POC_Code': 'Unique_POC_Count'}, inplace=True)

print(poc_counts)

  Island Fuel_Code  Unique_POC_Count
0     NI     Hydro                17
1     NI     Solar                 2
2     NI      Wind                11
3     SI     Hydro                21
4     SI      Wind                 2

In [21]:
nsp_info_Hydro = df_unique_nsp_info[df_unique_nsp_info['Fuel_Code'].isin(['Hydro'])]

In [23]:
Hydro_counts = df_unique_nsp_info['Fuel_Code'].value_counts()

In [25]:
Hydro_counts

Fuel_Code
Hydro    38
Wind     13
Solar     2
Name: count, dtype: int64

In [27]:
nsp_info_Hydro.reset_index()

    index POC_Code Fuel_Code Island
0       0  ARA2201     Hydro     NI
1       1  ARG1101     Hydro     SI
2       2  ARI1101     Hydro     NI
3       3  ARI1102     Hydro     NI
4       4  ASB0661     Hydro     SI
5       5  ATI2201     Hydro     NI
6       6  AVI2201     Hydro     SI
7       7  BEN2202     Hydro     SI
8       9  BWK1101     Hydro     SI
9      10  COL0661     Hydro     SI
10     11  CYD0331     Hydro     SI
11     12  CYD2201     Hydro     SI
12     15  HWA1101     Hydro     NI
13     16  HWB0331     Hydro     SI
14     19  KPO1101     Hydro     NI
15     22  MAN2201     Hydro     SI
16     23  MAT1101     Hydro     NI
17     24  MHO0331     Hydro     NI
18     25  MTI2201     Hydro     NI
19     27  NSY0331     Hydro     SI
20     28  OHA2201     Hydro     SI
21     29  OHB2201     Hydro     SI
22     30  OHC2201     Hydro     SI
23     31  OHK2201     Hydro     NI
24     32  ROT1101     Hydro     NI
25     33  ROX1101     Hydro     SI
26     34  ROX2201     Hydro     SI
27     35  RPO2201     Hydro     NI
28     36  STK0661     Hydro     SI
29     37  TGA0331     Hydro     NI
30     38  TKA0111     Hydro     SI
31     39  TKB2201     Hydro     SI
32     40  TKU2201     Hydro     NI
33     41  TUI1101     Hydro     NI
34     46  WKM2201     Hydro     NI
35     47  WPA2201     Hydro     NI
36     48  WPG0331     Hydro     SI
37     49  WTK0111     Hydro     SI

In [29]:
Input_folder_RH2M = r"C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M"

In [31]:
# parameters = "RH2M"

In [33]:
# Filename_RH2M = f"{output_folder}/NASA_{poc}_{parameters}_{start_date}_{end_date}.csv"

In [35]:
# Filename_RH2M = "NASA_BPE0331_RH2M_20150101_20250228.csv"

In [37]:
#Read_file_RH2M = os.path.join(Input_folder_RH2M, Filename_RH2M)

In [39]:
# Read_file_RH2M

In [41]:
# nsp_info = pd.read_csv(Read_file_RH2M)

In [43]:
# with open(Read_file_RH2M, 'r') as f:
#     for i, line in enumerate(f):
#         if line.startswith('YEAR') or 'DATE' in line:
#             header_line = i
#             # break

In [45]:
# RH2M_Data = pd.read_csv(Read_file_RH2M, skiprows=header_line)

In [47]:
# RH2M_Data

In [49]:
# Get list of POC codes to load
selected_pocs = nsp_info_Hydro['POC_Code'].unique()

In [51]:
selected_pocs

array(['ARA2201', 'ARG1101', 'ARI1101', 'ARI1102', 'ASB0661', 'ATI2201',
       'AVI2201', 'BEN2202', 'BWK1101', 'COL0661', 'CYD0331', 'CYD2201',
       'HWA1101', 'HWB0331', 'KPO1101', 'MAN2201', 'MAT1101', 'MHO0331',
       'MTI2201', 'NSY0331', 'OHA2201', 'OHB2201', 'OHC2201', 'OHK2201',
       'ROT1101', 'ROX1101', 'ROX2201', 'RPO2201', 'STK0661', 'TGA0331',
       'TKA0111', 'TKB2201', 'TKU2201', 'TUI1101', 'WKM2201', 'WPA2201',
       'WPG0331', 'WTK0111'], dtype=object)

In [53]:
# Initialize empty list to store DataFrames
dfs = []

In [55]:
# Loop through each selected POC
for poc in selected_pocs:
    file_RH2M = os.path.join(
        Input_folder_RH2M, f"NASA_{poc}_RH2M_20150101_20250228.csv"
    )
    
    # Check if file exists before loading
    if os.path.exists(file_RH2M):
        # Skip metadata rows and load actual data
        print(f"Loading file: {file_RH2M}")
        with open(file_RH2M, 'r') as f:
            for i, line in enumerate(f):
                if line.startswith('YEAR') or 'DATE' in line:
                    header_line = i
                    break
        #df = pd.read_csv(file_path, skiprows=10)
        df_RH2M = pd.read_csv(file_RH2M, skiprows=header_line)
        
        # Add identifier column
        df_RH2M['POC_Code'] = poc
        
        dfs.append(df_RH2M)
    else:
        print(f"File not found: {file_path}")

# Combine all into a single DataFrame
combined_Hydro_data_RH2M = pd.concat(dfs, ignore_index=True)

Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ARA2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ARG1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ARI1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ARI1102_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ASB0661_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ATI2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_AVI2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_BEN2202_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_BWK1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_COL0661_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_CYD0331_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_CYD2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_HWA1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_HWB0331_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_KPO1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_MAN2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_MAT1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_MHO0331_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_MTI2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_NSY0331_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_OHA2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_OHB2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_OHC2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_OHK2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ROT1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ROX1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_ROX2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_RPO2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_STK0661_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_TGA0331_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_TKA0111_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_TKB2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_TKU2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_TUI1101_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_WKM2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_WPA2201_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_WPG0331_RH2M_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject_singlensp\Input\NASA_Climate_Downloads\Hydro\RH2M\NASA_WTK0111_RH2M_20150101_20250228.csv

In [57]:
combined_Hydro_data_RH2M

        YEAR  DOY   RH2M POC_Code
0       2015    1  62.17  ARA2201
1       2015    2  64.52  ARA2201
2       2015    3  60.84  ARA2201
3       2015    4  68.73  ARA2201
4       2015    5  63.03  ARA2201
...      ...  ...    ...      ...
141051  2025   55  63.23  WTK0111
141052  2025   56  70.94  WTK0111
141053  2025   57  70.41  WTK0111
141054  2025   58  76.02  WTK0111
141055  2025   59  73.26  WTK0111

[141056 rows x 4 columns]

In [59]:
# Create a new date column
combined_Hydro_data_RH2M['DATE'] = pd.to_datetime(
    combined_Hydro_data_RH2M['YEAR'].astype(str) + combined_Hydro_data_RH2M['DOY'].astype(str),
    format='%Y%j'
)

In [61]:
# Optional: Set DATE as index or reorder columns
# combined_Hydro_data.set_index('DATE', inplace=True)

# Preview the updated DataFrame
print(combined_Hydro_data_RH2M[['DATE', 'YEAR', 'DOY', 'RH2M', 'POC_Code']].head())

        DATE  YEAR  DOY   RH2M POC_Code
0 2015-01-01  2015    1  62.17  ARA2201
1 2015-01-02  2015    2  64.52  ARA2201
2 2015-01-03  2015    3  60.84  ARA2201
3 2015-01-04  2015    4  68.73  ARA2201
4 2015-01-05  2015    5  63.03  ARA2201

In [63]:
combined_Hydro_data_RH2M

        YEAR  DOY   RH2M POC_Code       DATE
0       2015    1  62.17  ARA2201 2015-01-01
1       2015    2  64.52  ARA2201 2015-01-02
2       2015    3  60.84  ARA2201 2015-01-03
3       2015    4  68.73  ARA2201 2015-01-04
4       2015    5  63.03  ARA2201 2015-01-05
...      ...  ...    ...      ...        ...
141051  2025   55  63.23  WTK0111 2025-02-24
141052  2025   56  70.94  WTK0111 2025-02-25
141053  2025   57  70.41  WTK0111 2025-02-26
141054  2025   58  76.02  WTK0111 2025-02-27
141055  2025   59  73.26  WTK0111 2025-02-28

[141056 rows x 5 columns]

In [65]:
# # 2. Filter data between 2015-01-01 and 2024-12-31
# filtered_Hydro_data_RH2M = combined_Hydro_data_RH2M[
#     (combined_Hydro_data_RH2M['DATE'] >= '2015-01-01') &
#     (combined_Hydro_data_RH2M['DATE'] <= '2024-12-31')
# ]

In [67]:
# filtered_Hydro_data_RH2M

In [69]:
hydro_RH2M_df = combined_Hydro_data_RH2M[['DATE', 'POC_Code', 'RH2M']]

In [71]:
hydro_RH2M_df

             DATE POC_Code   RH2M
0      2015-01-01  ARA2201  62.17
1      2015-01-02  ARA2201  64.52
2      2015-01-03  ARA2201  60.84
3      2015-01-04  ARA2201  68.73
4      2015-01-05  ARA2201  63.03
...           ...      ...    ...
141051 2025-02-24  WTK0111  63.23
141052 2025-02-25  WTK0111  70.94
141053 2025-02-26  WTK0111  70.41
141054 2025-02-27  WTK0111  76.02
141055 2025-02-28  WTK0111  73.26

[141056 rows x 3 columns]

In [73]:
# daily_avg_RH2M = filtered_Hydro_data_RH2M.groupby('DATE', as_index=False)['RH2M'].mean()

In [75]:
# daily_total_precip = filtered_Hydro_data_RH2M.groupby('DATE', as_index=False)['RH2M'].sum()

In [77]:
# daily_avg_RH2M = daily_avg_RH2M.rename(columns={'RH2M': 'Avg_RH2M'})

In [79]:
# daily_avg_RH2M

In [81]:
hydro_RH2M_df['RH2M'] = hydro_RH2M_df['RH2M'].round(4)

C:\Users\nwn86\AppData\Local\Temp\ipykernel_38076\4100034021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hydro_RH2M_df['RH2M'] = hydro_RH2M_df['RH2M'].round(4)

In [83]:
hydro_RH2M_df.head()

        DATE POC_Code   RH2M
0 2015-01-01  ARA2201  62.17
1 2015-01-02  ARA2201  64.52
2 2015-01-03  ARA2201  60.84
3 2015-01-04  ARA2201  68.73
4 2015-01-05  ARA2201  63.03

In [ ]:
hydro_RH2M_df.to_csv(r'C:\Users\nwn86\ResearchProject_singlensp\Staging\Climate\hydro/Hydro_Factor_Daily_RH2M.csv', index=False)