In [1]:
import pandas as pd
from pandas import DataFrame
import numpy as np
import requests
import os
import time

In [2]:
#Input_folder_EVLAND = r"C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND"

In [3]:
file_path = r"C:\Users\nwn86\ResearchProject\Input"

In [4]:
file_name = "nsp_info_final_v1.csv"

In [5]:
output_file = os.path.join(file_path, file_name)

In [6]:
nsp_info = pd.read_csv(output_file)

In [7]:
nsp_info

   POC_Code  NZTM_easting  NZTM_northing Fuel_Code   Latitude   Longitude
0   ARA2201     1873657.0      5721160.0     Hydro -38.615891  176.143036
1   ARG1101     1616836.0      5386748.0     Hydro -41.670851  173.202251
2   ARI1101     1831834.0      5782895.0     Hydro -38.072026  175.642919
3   ARI1102     1831834.0      5782895.0     Hydro -38.072026  175.642919
4   ASB0661     1503869.0      5133912.0     Hydro -43.941637  171.802149
5   ATI2201     1863994.0      5746271.0     Hydro -38.392831  176.022730
6   AVI2201     1390245.0      5051586.0     Hydro -44.658443  170.354335
7   BEN2202     1377144.0      5061473.0     Hydro -44.565596  170.193571
8   BPE0331     1824481.0      5537751.0      Wind -40.280614  175.640510
9   BWK1101     1375377.0      4908483.0     Hydro -45.940470  170.102172
10  COL0661     1480658.0      5197735.0     Hydro -43.363766  171.527122
11  CYD0331     1309790.0      4990370.0     Hydro -45.180391  169.306224
12  CYD2201     1309790.0      4990370.0     Hydro -45.180391  169.306224
13  EDG0331     1936285.0      5788677.0     Solar -37.987259  176.828883
14  GOR0331     1284097.0      4885035.0      Wind -46.115091  168.911652
15  HWA1101     1712537.0      5619536.0     Hydro -39.566497  174.310117
16  HWB0331     1404029.0      4918978.0     Hydro -45.854874  170.475700
17  KOE1101     1673614.0      6082721.0     Solar -35.396162  173.810632
18  KPO1101     1823029.0      5799542.0     Hydro -37.924349  175.537461
19  LTN0331     1823277.0      5523360.0      Wind -40.410452  175.631394
20  LTN2201     1823277.0      5523360.0      Wind -40.410452  175.631394
21  MAN2201     1153098.0      4943235.0     Hydro -45.520868  167.277500
22  MAT1101     1934456.0      5774722.0     Hydro -38.113429  176.814617
23  MHO0331     1807281.0      5505363.0     Hydro -40.576575  175.448930
24  MTI2201     1839802.0      5751482.0     Hydro -38.352736  175.744267
25  NMA0331     1242677.0      4861547.0      Wind -46.305391  168.359527
26  NSY0331     1371044.0      5009253.0     Hydro -45.033180  170.093353
27  OHA2201     1362883.0      5094304.0     Hydro -44.265872  170.029212
28  OHB2201     1369516.0      5090545.0     Hydro -44.301801  170.110551
29  OHC2201     1375175.0      5086098.0     Hydro -44.343561  170.179492
30  OHK2201     1869462.0      5744408.0     Hydro -38.407966  176.085969
31  ROT1101     1882790.0      5772814.0     Hydro -38.148250  176.227041
32  ROX1101     1312313.0      4957442.0     Hydro -45.477213  169.319136
33  ROX2201     1312313.0      4957442.0     Hydro -45.477213  169.319136
34  RPO2201     1845189.0      5662388.0     Hydro -39.153194  175.837443
35  STK0661     1620344.0      5426252.0     Hydro -41.314941  173.243059
36  TGA0331     1875930.0      5819779.0     Hydro -37.727716  176.130869
37  TKA0111     1396471.0      5123459.0     Hydro -44.013807  170.460853
38  TKB2201     1376922.0      5110445.0     Hydro -44.125161  170.211748
39  TKU2201     1839960.0      5681601.0     Hydro -38.981721  175.770224
40  TUI1101     1960528.0      5696630.0     Hydro -38.805354  177.151399
41  TWC2201     1835550.0      5529228.0      Wind -40.354267  175.773710
42  TWH0331     1789809.0      5821033.0      Wind -37.738327  175.154139
43  WDV1101     1842684.0      5533314.0      Wind -40.315457  175.856067
44  WIL0331     1747405.0      5431065.0      Wind -41.258396  174.759556
45  WKM2201     1844481.0      5743971.0     Hydro -38.419082  175.800363
46  WPA2201     1834680.0      5758417.0     Hydro -38.291661  175.683408
47  WPG0331     1404006.0      4918940.0     Hydro -45.855209  170.475388
48  WTK0111     1396285.0      5048037.0     Hydro -44.692099  170.429029
49  WVY1101     1740109.0      5598256.0      Wind -39.754097  174.635503
50  WWD1102     1739027.0      5427096.0      Wind -41.295618  174.660496
51  WWD1103     1739027.0      5427096.0      Wind -41.295618  174.660496
52  HRP2201           NaN            NaN      Wind -39.604330  176.753550

In [8]:
nsp_info_Hydro = nsp_info[nsp_info['Fuel_Code'].isin(['Hydro'])]

In [9]:
nsp_info_Hydro = nsp_info[nsp_info['Fuel_Code'].isin(['Hydro'])]

In [10]:
nsp_info_Solar = nsp_info[nsp_info['Fuel_Code'].isin(['Solar'])]

In [11]:
Hydro_counts = nsp_info_Hydro['Fuel_Code'].value_counts()

In [12]:
Hydro_counts = nsp_info_Hydro['Fuel_Code'].value_counts()

In [13]:
Solar_counts = nsp_info_Solar['Fuel_Code'].value_counts()

In [14]:
Hydro_counts

Fuel_Code
Hydro    38
Name: count, dtype: int64

In [15]:
Hydro_counts

Fuel_Code
Hydro    38
Name: count, dtype: int64

In [16]:
Solar_counts

Fuel_Code
Solar    2
Name: count, dtype: int64

In [17]:
nsp_info_Hydro

   POC_Code  NZTM_easting  NZTM_northing Fuel_Code   Latitude   Longitude
0   ARA2201     1873657.0      5721160.0     Hydro -38.615891  176.143036
1   ARG1101     1616836.0      5386748.0     Hydro -41.670851  173.202251
2   ARI1101     1831834.0      5782895.0     Hydro -38.072026  175.642919
3   ARI1102     1831834.0      5782895.0     Hydro -38.072026  175.642919
4   ASB0661     1503869.0      5133912.0     Hydro -43.941637  171.802149
5   ATI2201     1863994.0      5746271.0     Hydro -38.392831  176.022730
6   AVI2201     1390245.0      5051586.0     Hydro -44.658443  170.354335
7   BEN2202     1377144.0      5061473.0     Hydro -44.565596  170.193571
9   BWK1101     1375377.0      4908483.0     Hydro -45.940470  170.102172
10  COL0661     1480658.0      5197735.0     Hydro -43.363766  171.527122
11  CYD0331     1309790.0      4990370.0     Hydro -45.180391  169.306224
12  CYD2201     1309790.0      4990370.0     Hydro -45.180391  169.306224
15  HWA1101     1712537.0      5619536.0     Hydro -39.566497  174.310117
16  HWB0331     1404029.0      4918978.0     Hydro -45.854874  170.475700
18  KPO1101     1823029.0      5799542.0     Hydro -37.924349  175.537461
21  MAN2201     1153098.0      4943235.0     Hydro -45.520868  167.277500
22  MAT1101     1934456.0      5774722.0     Hydro -38.113429  176.814617
23  MHO0331     1807281.0      5505363.0     Hydro -40.576575  175.448930
24  MTI2201     1839802.0      5751482.0     Hydro -38.352736  175.744267
26  NSY0331     1371044.0      5009253.0     Hydro -45.033180  170.093353
27  OHA2201     1362883.0      5094304.0     Hydro -44.265872  170.029212
28  OHB2201     1369516.0      5090545.0     Hydro -44.301801  170.110551
29  OHC2201     1375175.0      5086098.0     Hydro -44.343561  170.179492
30  OHK2201     1869462.0      5744408.0     Hydro -38.407966  176.085969
31  ROT1101     1882790.0      5772814.0     Hydro -38.148250  176.227041
32  ROX1101     1312313.0      4957442.0     Hydro -45.477213  169.319136
33  ROX2201     1312313.0      4957442.0     Hydro -45.477213  169.319136
34  RPO2201     1845189.0      5662388.0     Hydro -39.153194  175.837443
35  STK0661     1620344.0      5426252.0     Hydro -41.314941  173.243059
36  TGA0331     1875930.0      5819779.0     Hydro -37.727716  176.130869
37  TKA0111     1396471.0      5123459.0     Hydro -44.013807  170.460853
38  TKB2201     1376922.0      5110445.0     Hydro -44.125161  170.211748
39  TKU2201     1839960.0      5681601.0     Hydro -38.981721  175.770224
40  TUI1101     1960528.0      5696630.0     Hydro -38.805354  177.151399
45  WKM2201     1844481.0      5743971.0     Hydro -38.419082  175.800363
46  WPA2201     1834680.0      5758417.0     Hydro -38.291661  175.683408
47  WPG0331     1404006.0      4918940.0     Hydro -45.855209  170.475388
48  WTK0111     1396285.0      5048037.0     Hydro -44.692099  170.429029

In [18]:
Input_folder_EVLAND = r"C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND"

In [19]:
# parameters = "EVLAND"

In [20]:
# Filename_EVLAND = f"{output_folder}/NASA_{poc}_{parameters}_{start_date}_{end_date}.csv"

In [21]:
# Filename_EVLAND = "NASA_BPE0331_EVLAND_20150101_20250228.csv"

In [22]:
#Read_file_EVLAND = os.path.join(Input_folder_EVLAND, Filename_EVLAND)

In [23]:
# Read_file_EVLAND

In [24]:
# nsp_info = pd.read_csv(Read_file_EVLAND)

In [25]:
# with open(Read_file_EVLAND, 'r') as f:
#     for i, line in enumerate(f):
#         if line.startswith('YEAR') or 'DATE' in line:
#             header_line = i
#             # break

In [26]:
# EVLAND_Data = pd.read_csv(Read_file_EVLAND, skiprows=header_line)

In [27]:
# EVLAND_Data

In [28]:
# Get list of POC codes to load
selected_pocs = nsp_info_Hydro['POC_Code'].unique()

In [29]:
selected_pocs

array(['ARA2201', 'ARG1101', 'ARI1101', 'ARI1102', 'ASB0661', 'ATI2201',
       'AVI2201', 'BEN2202', 'BWK1101', 'COL0661', 'CYD0331', 'CYD2201',
       'HWA1101', 'HWB0331', 'KPO1101', 'MAN2201', 'MAT1101', 'MHO0331',
       'MTI2201', 'NSY0331', 'OHA2201', 'OHB2201', 'OHC2201', 'OHK2201',
       'ROT1101', 'ROX1101', 'ROX2201', 'RPO2201', 'STK0661', 'TGA0331',
       'TKA0111', 'TKB2201', 'TKU2201', 'TUI1101', 'WKM2201', 'WPA2201',
       'WPG0331', 'WTK0111'], dtype=object)

In [30]:
# Initialize empty list to store DataFrames
dfs = []

In [31]:
# Loop through each selected POC
for poc in selected_pocs:
    file_EVLAND = os.path.join(
        Input_folder_EVLAND, f"NASA_{poc}_EVLAND_20150101_20250228.csv"
    )
    
    # Check if file exists before loading
    if os.path.exists(file_EVLAND):
        # Skip metadata rows and load actual data
        print(f"Loading file: {file_EVLAND}")
        with open(file_EVLAND, 'r') as f:
            for i, line in enumerate(f):
                if line.startswith('YEAR') or 'DATE' in line:
                    header_line = i
                    break
        #df = pd.read_csv(file_path, skiprows=10)
        df_EVLAND = pd.read_csv(file_EVLAND, skiprows=header_line)
        
        # Add identifier column
        df_EVLAND['POC_Code'] = poc
        
        dfs.append(df_EVLAND)
    else:
        print(f"File not found: {file_path}")

# Combine all into a single DataFrame
combined_Hydro_data_EVLAND = pd.concat(dfs, ignore_index=True)

Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ARA2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ARG1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ARI1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ARI1102_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ASB0661_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ATI2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_AVI2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_BEN2202_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_BWK1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_COL0661_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_CYD0331_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_CYD2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_HWA1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_HWB0331_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_KPO1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_MAN2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_MAT1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_MHO0331_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_MTI2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_NSY0331_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_OHA2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_OHB2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_OHC2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_OHK2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ROT1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ROX1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_ROX2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_RPO2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_STK0661_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_TGA0331_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_TKA0111_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_TKB2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_TKU2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_TUI1101_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_WKM2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_WPA2201_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_WPG0331_EVLAND_20150101_20250228.csv
Loading file: C:\Users\nwn86\ResearchProject\Code\NASA_Climate_Downloads\Hydro\EVLAND\NASA_WTK0111_EVLAND_20150101_20250228.csv

In [32]:
combined_Hydro_data_EVLAND

        YEAR  DOY  EVLAND POC_Code
0       2015    1    4.03  ARA2201
1       2015    2    1.94  ARA2201
2       2015    3    2.24  ARA2201
3       2015    4    1.54  ARA2201
4       2015    5    1.95  ARA2201
...      ...  ...     ...      ...
141051  2025   55    2.06  WTK0111
141052  2025   56    1.59  WTK0111
141053  2025   57    2.05  WTK0111
141054  2025   58    1.73  WTK0111
141055  2025   59    1.83  WTK0111

[141056 rows x 4 columns]

In [33]:
# Create a new date column
combined_Hydro_data_EVLAND['DATE'] = pd.to_datetime(
    combined_Hydro_data_EVLAND['YEAR'].astype(str) + combined_Hydro_data_EVLAND['DOY'].astype(str),
    format='%Y%j'
)

In [34]:
# Optional: Set DATE as index or reorder columns
# combined_Hydro_data.set_index('DATE', inplace=True)

# Preview the updated DataFrame
print(combined_Hydro_data_EVLAND[['DATE', 'YEAR', 'DOY', 'EVLAND', 'POC_Code']].head())

        DATE  YEAR  DOY  EVLAND POC_Code
0 2015-01-01  2015    1    4.03  ARA2201
1 2015-01-02  2015    2    1.94  ARA2201
2 2015-01-03  2015    3    2.24  ARA2201
3 2015-01-04  2015    4    1.54  ARA2201
4 2015-01-05  2015    5    1.95  ARA2201

In [35]:
combined_Hydro_data_EVLAND

        YEAR  DOY  EVLAND POC_Code       DATE
0       2015    1    4.03  ARA2201 2015-01-01
1       2015    2    1.94  ARA2201 2015-01-02
2       2015    3    2.24  ARA2201 2015-01-03
3       2015    4    1.54  ARA2201 2015-01-04
4       2015    5    1.95  ARA2201 2015-01-05
...      ...  ...     ...      ...        ...
141051  2025   55    2.06  WTK0111 2025-02-24
141052  2025   56    1.59  WTK0111 2025-02-25
141053  2025   57    2.05  WTK0111 2025-02-26
141054  2025   58    1.73  WTK0111 2025-02-27
141055  2025   59    1.83  WTK0111 2025-02-28

[141056 rows x 5 columns]

In [36]:
# 2. Filter data between 2015-01-01 and 2024-12-31
filtered_Hydro_data_EVLAND = combined_Hydro_data_EVLAND[
    (combined_Hydro_data_EVLAND['DATE'] >= '2015-01-01') &
    (combined_Hydro_data_EVLAND['DATE'] <= '2024-12-31')
]

In [37]:
filtered_Hydro_data_EVLAND

        YEAR  DOY  EVLAND POC_Code       DATE
0       2015    1    4.03  ARA2201 2015-01-01
1       2015    2    1.94  ARA2201 2015-01-02
2       2015    3    2.24  ARA2201 2015-01-03
3       2015    4    1.54  ARA2201 2015-01-04
4       2015    5    1.95  ARA2201 2015-01-05
...      ...  ...     ...      ...        ...
140992  2024  362    3.09  WTK0111 2024-12-27
140993  2024  363    4.18  WTK0111 2024-12-28
140994  2024  364    1.97  WTK0111 2024-12-29
140995  2024  365    2.23  WTK0111 2024-12-30
140996  2024  366    1.62  WTK0111 2024-12-31

[138814 rows x 5 columns]

In [38]:
filtered_Hydro_data_EVLAND = filtered_Hydro_data_EVLAND[['DATE', 'POC_Code', 'EVLAND']]

In [39]:
filtered_Hydro_data_EVLAND

             DATE POC_Code  EVLAND
0      2015-01-01  ARA2201    4.03
1      2015-01-02  ARA2201    1.94
2      2015-01-03  ARA2201    2.24
3      2015-01-04  ARA2201    1.54
4      2015-01-05  ARA2201    1.95
...           ...      ...     ...
140992 2024-12-27  WTK0111    3.09
140993 2024-12-28  WTK0111    4.18
140994 2024-12-29  WTK0111    1.97
140995 2024-12-30  WTK0111    2.23
140996 2024-12-31  WTK0111    1.62

[138814 rows x 3 columns]

In [40]:
daily_avg_EVLAND = filtered_Hydro_data_EVLAND.groupby('DATE', as_index=False)['EVLAND'].mean()

In [41]:
#daily_total_precip = filtered_Hydro_data_EVLAND.groupby('DATE', as_index=False)['EVLAND'].sum()

In [84]:
daily_avg_EVLAND = daily_avg_EVLAND.rename(columns={'EVLAND': 'Avg_EVLAND'})

In [86]:
daily_avg_EVLAND

           DATE  Avg_EVLAND
0    2015-01-01    4.081053
1    2015-01-02    3.006053
2    2015-01-03    3.135526
3    2015-01-04    3.287105
4    2015-01-05    3.198421
...         ...         ...
3648 2024-12-27    4.358947
3649 2024-12-28    4.665000
3650 2024-12-29    3.056579
3651 2024-12-30    3.668947
3652 2024-12-31    2.829474

[3653 rows x 2 columns]

In [88]:
daily_avg_EVLAND['Avg_EVLAND'] = daily_avg_EVLAND['Avg_EVLAND'].round(4)

In [90]:
daily_avg_EVLAND.to_csv(r'C:\Users\nwn86\ResearchProject\Input\Updated_Climate/Hydro_Factor_Daily_AVG_EVLAND.csv', index=False)